
h2 {
	text-align:center;
}
img {
	
	height: 150px;
	
}
div.img-class {
	position : relative;
	display: inline-block;
	left : 100px;
	top: 10px;
}
div.last-div {
	display: inline-block;
	position : absolute;
	top: 250px;
	left: 100px;
}
div.main {
	/* //border: inset; */
	background-color: white; 
	height: 400px;
	padding: 10px;
	/* display : inline-block; */
	/* background-image: url("../img/webpack-tuts.jpg");
	background-repeat: no-repeat;
    background-position: left top; */
	
	}
p {
	text-decoration: none;
	font-style: italic;
	font-size: medium;
	color: #800040;
	display: inline-block;
}
	
a.button{
	border: none;
	color: #ffffff;
	background-color : #0000ff;
	width : 15px;
	height: 13px;
	padding : 5px;
	
}
a:hover{
	background-color : #408080;
	}
	